* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.map-title {
  font-family: "Raleway", sans-serif;
  color: #f3f3f3;
  text-align: center;
  height: 50px;
}

.map-container {
  width: 100vw;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 38px -29px rgba(243, 243, 243, 1);
  -moz-box-shadow: 0px 0px 38px -29px rgba(243, 243, 243, 1);
  box-shadow: 0px 0px 38px -29px rgba(243, 243, 243, 1);
}

.popup .mapboxgl-popup-content {
  color: #8b0000;
  font-family: "Segoe UI", sans-serif;
}

.popup {
  opacity: 0.7;
}

.label {
  font-family: "Segoe UI", sans-serif;
  width: 40px;
  height: 20px;
  color: aliceblue;
  font-size: 10px;
  opacity: 0.4;
}
